.site-footer {
  margin-top: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}
.site-footer a {
  color: #a0c4ff;
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: underline;
}
